:root{
    --bg: #D8E4FF;
    --dark: #a2b8c4;
    --white: rgb(221, 221, 221);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
/* font-family: 'Permanent Marker', cursive; TOCHO
font-family: 'Righteous', cursive; NORMAL*/

html{
    scroll-behavior: smooth;
    font-size: 20px;
}

body{
    font-family: 'Righteous', cursive;
    background-color: var(--bg);
    /* max-height: 100vh; */
}

header{
    z-index: 10;
    background-color: var(--dark);
    width: 100%;
    text-align: center;
}

#title{
    font-family: 'Permanent Marker', cursive;
}

main{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#container{
    display: flex;
    flex-direction: row;
    gap: 2rem;
    margin: auto;
    align-items: center;
    justify-content: center ;
    padding: 2rem;
}

@media only screen and (max-width: 900px){
    #container{
        flex-direction: column;
    }
    html{
        font-size: 16px;
    }
}

#tile{
    text-align: center;
    padding: 2rem 1rem;
    border: 2px solid black;
    border-radius: 0.5rem;
    background-color: #000000;
}

#colorCode{
    margin-bottom: 1rem;
    background-color: rgba(245, 245, 245, 0.4);
    display: inline-block;
    padding: 0 0.8rem;
    border-radius: 0.5rem;
}

#guide{
    margin-bottom: 1rem;
    background-color: rgba(245, 245, 245, 0.4);
    display: block;
    padding: 0 0.4rem;
    border-radius: 0.5rem;
}

button{
    font-family: inherit;
    background-color: var(--white);
    border-radius: 0.3rem;
    padding: 0.5rem;
    font-size: 1rem;
    transition: transform .2s linear;
}
button:hover{
    transform: scale(1.1);
}
button:active{
    background-color: var(--dark);
}

#addtile{
    font-size: 2rem;
    padding: 0 0.8rem;
}


footer{
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    background-color: var(--dark);
    height: 2rem;
}

#signature{
	text-align: center;
	font-size: 1.2rem;
	display: block;
	width: auto;	
    font-style: italic;
}

#signature a{
    color: var(--white);
    text-decoration: none;
}

#signature a:hover{
    color: black;
}


